@model IEnumerable<MvcApplication1.Models.Blog>


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2 ><em> Si uno avanza confiadamente en la dirección de sus sueños y deseos para llevar la vida que ha imaginado, se encontrará con un éxito inesperado.</em></h2>
                 <br />
                 <strong><em>Henry David Thoreau</em></strong>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           
        </div>
    </section>
}

<h3></h3>

@foreach (var item in Model) {
    	<div id="box1">
						<h2>
				        @Html.DisplayFor(modelItem => item.titulo)

						</h2><img class="left" src="http://www.714.com.ar/Web-design-2011.jpg" width="180" height="220" alt="" />
						<p style="text-align:center">
							  @Html.DisplayFor(modelItem => item.contenido)
						</p>
              <div id="footer">@Html.DisplayFor(modelItem => item.fecha) </div>
         
  </div>
 @Html.ActionLink("Ver Informacion...", "Entrada", new { id=item.Id })
       <hr />
}